.forgot_password_container{
    height: 100vh;
    width: 100%;
    padding: 10px;
display: flex;
}

.forgot_password_logo{
    width: 111px;
    position: absolute;
}

.forgot_password_logo .logo_text{
    color: black;
}

.forgot_password_svg{
    display: flex;
    align-items: center;
}

.forgot_password_svg img{
    width: 100%;
}

.forgot_password_content_container{
    padding-top: 200px;
    padding-left: 25px;
    padding-right: 50px;
}

.forgot_password_title{
    position: relative;
}

.forgot_password_title h1{
    font-size: 48px;
    color: #003049;
}

.forgot_password_title svg{
    position: absolute;
    top: 49px;
}

.forgot_password_hint_text{
    font-size: 25px;
    color: #003049;
}

.forgot_password_form{
    display: flex;
    flex-direction: column;
}

.forgot_password_form>input[type=email]{
    height: 37px;
    text-indent: 15px;
}

.forgot_password_btn_container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.forgot_password_form>.forgot_password_btn_container>input[type=submit]{
    margin-top: 20px;
    z-index: 12;
    width: 105px;
    height: 35px;
    background-color: #003049;
    color: white;
    border-radius: 10px;
    border: none;
}

.forgot_password_btn_container>div{
    position: absolute;
    bottom: -5px;
    z-index: -1;
    right: -2px;
    width: 105px;
    border-radius: 10px;
    height: 35px;
    background-color: #F77F00;
}

@media screen and (max-width: 925px){
    .forgot_password_container{
        flex-direction: column;
    }

    .forgot_password_svg{
        width: 100%;
    justify-content: center;
    }

    .forgot_password_svg img{
        width: 300px;
    }

    .forgot_password_content_container{
        text-align: center;
        padding-top: 15px;
    }

    .forgot_password_title{
        position: relative;
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 590px){
    .forgot_password_title>h1{
        font-size: 30px;
    }

    .forgot_password_title svg{
        width: 284px;
        top: 28px;
    }

    .forgot_password_hint_text{
        font-size: 17px;
    }
}

@media all and (max-width: 370px){
    .forgot_password_title>h1{
        font-size: 25px;
    }

    .forgot_password_title svg{
        width: 241px;
        top: 18px;
    }

    .forgot_password_hint_text{
        font-size: 12px;
    }
}